@import url("https://fonts.googleapis.com/earlyaccess/nicomoji.css");

header {
    background-color: rgb(253, 253, 253);

}

.title {
    font-family: sans-serif;
    margin: 0;
    font-size: 40px;


}

img {
    display: block;
    margin: auto;
}

.quiz {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 auto;
    box-shadow: 0 0 10px rgba(87, 100, 9, 0.3);
}

h1 {
    font-family: "Nico Moji";
    font-size: 50px;
}

body {
    /* height: 100%; */
    font-family: sans-serif;
    text-align: center;
    background-image: url(背景def.png);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.hand {
    position: relative;
    left: 100px;
}

hr {
    padding: 0;
    margin: 0;
}

button {
    margin: 2px;
}



.imo1 {

    animation: shake 3s infinite;
}


@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}